@page "/Protein/{Gene}/{Accession}"
@inject BupService BupService
@inject AntibodyService AntibodyService
@inject LiteratureProteinService LiteratureProteinService
@using HubmapBlazor.Data

<MudThemeProvider />

<MudBreadcrumbs Items="_breadCrumbs"></MudBreadcrumbs>

<h1>
    Protein @Accession
</h1>

@if (ProteinBupInfos.Any())
{
    <h5>
        Name: @ProteinBupInfos.First().UniprotName
        <MudSpacer></MudSpacer>
        Description: @ProteinBupInfos.First().GeneDescription
    </h5>
}





<MudDataGrid Items="@ProteinBupInfos" Sortable="true" Filterable="true" RowsPerPage="5" QuickFilter="@_BupFilter">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Bottom Up</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_BupSearchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <Column T=Bup Field="CommonTissue" Title="Tissue" />
        <Column T=Bup Field="Dataset" />
        <Column T=Bup Field="Abundance">
            <CellTemplate>
                <MudNumericField @bind-Value="@context.Abundance" Format="N2" HideSpinButtons="true" ReadOnly="true"></MudNumericField>
            </CellTemplate>
        </Column>
        <Column T=Bup Field="Rank">
            <CellTemplate>
                <MudNumericField @bind-Value="@context.Rank" Format="N2" HideSpinButtons="true" ReadOnly="true"></MudNumericField>
            </CellTemplate>
        </Column>
        <Column T=Bup Field="NormRank" Title="Normal Rank">
            <CellTemplate>
                <MudNumericField @bind-Value="@context.NormRank" Format="N2" HideSpinButtons="true" ReadOnly="true"></MudNumericField>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Bup" />
    </PagerContent>
</MudDataGrid>


<MudDataGrid Items="@Antibodies" Sortable="true" Filterable="true" RowsPerPage="5" QuickFilter="@_AntibodyFilter">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Antibodies</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_AntibodySearchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <Column T="Antibody" Field="AntibodyID" Title="ID" />
        @*<Column T="Antibody" Field="AntibodyName" Title="Name" />*@
        <Column T="Antibody" Title="Name">
            <CellTemplate>
                <MudTextField T=string Lines="5" Text="@context.AntibodyName"></MudTextField>
            </CellTemplate>
        </Column>
        @*<Column T="Antibody" Field="TargetAntigen" />*@
        <Column T="Antibody" Title="Target Antigen">
            <CellTemplate>
                <MudTextField T=string Lines="5" Text="@context.TargetAntigen"></MudTextField>
            </CellTemplate>
        </Column>
        <Column T="Antibody" Field="Clonality" />
        <Column T="Antibody" Field="Reference" />
        <Column T="Antibody" Field="CloneID" />
        <Column T="Antibody" Field="HostOrganism" />
        <Column T="Antibody" Field="Vendor" />
        <Column T="Antibody" Field="CatNum" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Antibody" />
    </PagerContent>
</MudDataGrid>



@code {

    [Parameter]
    public string? Accession { get; set; }

    [Parameter]
    public string? Gene { get; set; }

    private IEnumerable<Bup> ProteinBupInfos = Enumerable.Empty<Bup>();
    private IEnumerable<Antibody> Antibodies = Enumerable.Empty<Antibody>();

    protected override async Task OnInitializedAsync()
    {
        var BupInfos = BupService.GetAccessionBupInfos(Accession);
        ProteinBupInfos = BupService.GetAbundantBups(BupInfos);

        Antibodies = AntibodyService.GetAntibodyGene(Gene);

    }


    private string _BupSearchString;

    // quick filter - filter gobally across multiple columns with the same input
    private Func<Bup, bool> _BupFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_BupSearchString))
            return true;
        if (x.CommonTissue.Contains(_BupSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Dataset.Contains(_BupSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    };


    private string _AntibodySearchString;

    private Func<Antibody, bool> _AntibodyFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_AntibodySearchString))
            return true;
        if (x.AntibodyID.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.AntibodyName.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.TargetAntigen.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Clonality.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Reference.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.CloneID.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.HostOrganism.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Vendor.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.CatNum.Contains(_AntibodySearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    };

    private List<BreadcrumbItem> _breadCrumbs = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Tissues", href: @"Tissues"),
        new BreadcrumbItem("Proteins", href: @"Proteins"),
        new BreadcrumbItem("Protein", href: null, disabled: true)
    };

}

