@page "/Proteins/{Tissue?}"
@inject NavigationManager NavigationManager
@inject LiteratureProteinService LiteratureProteinService
@using HubmapBlazor.Data
@using Microsoft.AspNetCore.WebUtilities

<MudThemeProvider />

<h1>Proteins</h1>

Tissue: @Tissue

<MudDataGrid MultiSelection="true" Items="@literatureProteins" Sortable="true" Filterable="true" QuickFilter="@_quickFilter">
    <ToolBarContent>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <Column T="LiteratureProtein" Field="Gene" />
        <Column T="LiteratureProtein" Field="Ensembl" />

        <Column T="LiteratureProtein" Field="UniprotAccession" Title="Accession">
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => Navigate(@context.UniprotAccession))">@context.UniprotAccession</MudIconButton>
            </CellTemplate>
        </Column>

        <Column T="LiteratureProtein" Field="GeneDescription" Title="Description" />
        <Column T="LiteratureProtein" Field="HPAEvidence" />
        <Column T="LiteratureProtein" Field="RNATissueSpecificity" Title="Specificity" />
        <Column T="LiteratureProtein" Field="RNATissueSpecificityScore" Title="Specificity Score" />
        <Column T="LiteratureProtein" Field="RNATissueSpecicNX" Title="Specific NX" />
        <Column T="LiteratureProtein" Field="UniprotName" Title="Uniprot" />
        <Column T="LiteratureProtein" Field="Mass" />
        <Column T="LiteratureProtein" Field="GOAnnotations" />
        <Column T="LiteratureProtein" Field="GeneID" />
        <Column T="LiteratureProtein" Field="PubmedCitations" />
        <Column T="LiteratureProtein" Field="AntibodyCount" />

    </Columns>
    <PagerContent>
        <MudDataGridPager T="LiteratureProtein" />
    </PagerContent>
</MudDataGrid>



@code {

    [Parameter]
    public string? Tissue { get; set; }

    private IEnumerable<LiteratureProtein> literatureProteins = Enumerable.Empty<LiteratureProtein>();
    protected override async Task OnInitializedAsync()
    {
        var bupInformationProvider = new BupInformationProvider(@"../HubmapProject/Resources/NewBupData");
        bupInformationProvider.GenerateBupInfos();
        var bupInfos = bupInformationProvider.GetTissues(Tissue);
        var bupAccessions = bupInformationProvider.TissueAccessions(bupInfos);

        literatureProteins = LiteratureProteinService.GetTissueAccessions(bupAccessions);
    }


    private string _searchString;

    // quick filter - filter gobally across multiple columns with the same input
    private Func<LiteratureProtein, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Gene.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.UniprotAccession.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.GeneDescription.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.RNATissueSpecificity.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.UniprotName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };


    void Navigate(string accession)
    {
        NavigationManager.NavigateTo($"/BupData?accession={accession}");
    }
    }
