@page "/Tissues"
@inject NavigationManager NavigationManager
@using HubmapBlazor.Data
@inject TissueProvider TissueProvider
 

<MudThemeProvider />

<MudBreadcrumbs Items="_breadCrumbs"></MudBreadcrumbs>

<h1>Tissues</h1>


<MudDataGrid MultiSelection="true" Items="@tissueList" Filterable="true" Sortable="true">
    <ToolBarContent>
    </ToolBarContent>
    <Columns>
        <Column T="Tissue" Field="Name" Title="Tissue" />
        <Column T="Tissue" Field="Proteins" Title="Protein Count">
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                               OnClick="@((e) => ShowProteins(@context.Name))">
                    @context.Proteins
                </MudIconButton>
            </CellTemplate>
        </Column>
        @*<Column T="Tissue" Field="UniqueProteins" Title="Unique Protein Count" />*@
        <Column T="Tissue" Field="UniqueProteinsCount" Title="Unique Protein Count">
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                               OnClick="@((e) => ShowUniqueProteins(@context.Name))">
                    @context.UniqueProteins.Count()
                </MudIconButton>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Tissue" />
    </PagerContent>
</MudDataGrid>


@code {

    private IEnumerable<Tissue> tissueList = Enumerable.Empty<Tissue>();

    protected override async Task OnInitializedAsync()
    {

        tissueList = TissueProvider.GetTissueInfos();

    }


    void ShowProteins(string tissue)
    {
        NavigationManager.NavigateTo($"/Proteins?tissue={tissue}");
    }

    void ShowUniqueProteins(string tissue)
    {
        NavigationManager.NavigateTo($"/Proteins?UniqueTo={tissue}");
    }

        private List<BreadcrumbItem> _breadCrumbs = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Link 1", href: "#"),
        new BreadcrumbItem("Link 2", href: null, disabled: true)
    };
}

